.viewport{
  background: #dedede;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  /*background-image: url('file:///media/d_disk/ereme/GoogleDrive/HeadHunter/hh-html-css/assignment1/task-info/task-crop.png');*/
  background-size: auto;
  background-repeat: no-repeat;
  /*background-position: fixed;*/
  background-position: top;  
}

.form-panel{
  background: white;
  /*background: rgba(255,0,0,0.3);*/
  /*background: none;*/
  width: 778px;
  height: 604px;
  margin-top: 192px;
  position: relative;
  display: inline-block;
}

.icon-container{
  background: white;
  /*background: rgba(0,255,0,0.3);*/
  background-image: url('letter.png');
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;  

  width: 100px;
  height: 100px;
  
  border-radius: 50%; 
  border-color: #e7e7e7;
  border-style: solid;
  border-width: 1px; 
}

.title{
  font-family: 'Noto Sans', sans-serif;
  font-size: 30px;
  font-weight: normal;
  font-stretch: condensed;
}

.form-header{
  position: absolute;
  width: 100%;
  top: -50px;
}

.form-title-panel{
  padding-top: 58px; 
}

.form-content{
  font-size: 0;
  display: inline-block;
  letter-spacing: 30px; 
  height: 100%;
  padding-top: 13px; 
  padding-left: 70px;
  padding-right: 70px; 
  
}

.black-flex{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form-input{
  margin: 0;
  padding: 0;
  border-width: 2px;
  border-style: solid;
  border-color: #dbdbdb;
  border-radius: 5px; 


  background: white;

  display: block;
  flex: 1;

  font-size: 20px;
  overflow: auto;
  padding-left: 23px; 
  padding-top: 15px;
  padding-bottom: 18px; 
}


.form-input:focus{
  /*border: #fc6e7c;*/
  border-color: #fc6e7c;
}

.contact-line{
  display: flex;
  flex-direction: row;
}

.spacer{
  width: 22px;
}