.viewport{
  background: #dedede;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.form-panel{
  background: white;
  width: 778px;
  height: 604px;
  margin-top: 192px;
  position: relative;
  display: inline-block;
}

.icon-container{
  background: white;
  background-image: url('letter.png');
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;  

  width: 100px;
  height: 100px;
  
  border-radius: 50%; 
  border-color: #e7e7e7;
  border-style: solid;
  border-width: 1px; 
}

.form-title{
  font-family: 'Noto Sans', sans-serif;
  font-size: 30px;
  font-weight: normal;
  font-stretch: condensed;
  margin-bottom: 28px;
}

.form-header{
  position: absolute;
  width: 100%;
  top: -54px;
}

.form-title-panel{
  padding-top: 58px; 
}

.form-content{
  display: inline-block;
  height: 100%;
  padding-left: 70px;
  padding-right: 70px; 
  overflow: auto;
}

.form-body{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form-input{
  margin: 0;
  padding: 0;
  border-width: 2px;
  border-style: solid;
  border-color: #dbdbdb;
  border-radius: 2px; 


  background: white;

  display: block;
  flex: 1;

  font-size: 20px;
  overflow: auto;
  padding-left: 23px; 
  padding-right: 23px;
  padding-top: 15px;
  padding-bottom: 18px; 

  margin-top: 15px;
  margin-bottom: 15px;

}


.form-input:focus{
  border-color: #fc6e7c;
}

.contact-line{
  display: flex;
  flex-direction: row;
}

.spacer{
  width: 22px;
}

.tarea{
  max-height: 200px;
  min-height: 50px;
  height: 158px;
  font-size: 16px;
}

.button{
  margin-top: 3px;
  margin-left: auto;
  height: 50px;
  width: 97px;
  font-size: 18px;
  background: #fc4d5e;
  color: white;
}

.button:hover{
  background: #333;
}